body{
    background-color: #EF2EF2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
h1 {
    text-align: center;
  }
  
  .converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .subtitle{
    font-size:large;
  }

  label, input {
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #02000D;
    border-radius: 3px;
  }
  
  button {
    margin: 20px;
    padding: 5px 10px;
    background-color: #030526;
    color: rgb(246, 241, 246);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #380E73;
    scale: 1.1;
  }
  